/* COURSES */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui;
}
:root{
    --text-red: #f05123;
    --text-light: rgba(0,0,0,.7);
    --text-white: #fff;
    --color-footer: #b80257;
    --text-footer: rgba(255,255,255,.7);
    --color-btn: #f05123;
    --color-header: #000;
}
.col-4{
    width: 25%;
}
.col-6{
    width: 16.66666%;
}
.col-3{
    width: 33.33333%;
    float: left;
}
.grid{
    padding-left: 12px;
    padding-right: 12px;
}
.fl-l{
    float: left;
}
.app{
    padding: 0 ;
}
.m-w{
    max-width: 1224px;
    width: 100%;
}
.mg-at{
    margin: 0 auto;
}
/* INDEX */
.main__index{
    width: 100%;
}
.header{
    height: 100%;
    background-color: #F4BF22;
}
.header__content{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.header__content__logo{
    flex-grow: 1;
}
.header__content__nav{
    flex-grow: 2;
}
.header__content__auth{
    flex-grow: 1;
}
.header__content__auth-list,
.header__content__nav-list{
    display: flex;
    list-style-type: none;
}
.header__content__auth-list{
    float: right;
}
.header__content__auth-item,
.header__content__nav-item{
    padding: 0 15px;
}
.text-header{
    color: #128A43;
    text-decoration: none;
}
.text-header:hover{
    color: #ccc;
}
.logo-link{
    
}
.item__senpai{
    padding: 0;
}
/* CONTAINER */
.container{
    padding-top: 20px;
}
.app__container{
    display: flex;
    flex-direction: row;
}
.category{
    width: 25%;
    padding-top: 30px;
    display: inline-block;
}
.category .category__list ul{
    list-style-type: none;
    margin: 20px 0;
}
.category .category__list h6{
    font-size: 18px;
}
.category .category__list ul li{
    border: 1px solid #eee;
    padding: 6px 0;
}
.category .category__list ul li:first-child{
    border-bottom: none;
}
.category .category__list ul li a{
    text-decoration: none;
    padding-left: 25px ;
    line-height: 1.5;
    font-size: 16px;
    color: var(--text-light);
    transition: all .5s ease-in-out;
}
.category .category__list ul li a:hover{
    color: var(--text-red);
    padding-left: 35px;
}
/* MAIN */
.main{
    width: 75%;
}
.course__menu{
    list-style-type: none;
    padding-top: 24px;
    padding-bottom: 24px;
    text-align: center;
}
.course__menu li{
    display: inline-block;
    margin: 0 8px;
}
.course__menu__item a{
    text-decoration: none;
    color: var(--text-white);
    background-color: var(--text-red);
    padding: 5px 14px;
    border-radius: 30px;
}
.course__menu__item a:hover{
    
}
/* LIST COURSE */
.course__item:hover{
    
}
.course__item__content{
    padding: 12px 16px 0 16px;
    margin-bottom: 30px;
    border: 1px solid #eee;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
.course__item__content h3 a{
    text-decoration: none;
    color: var(--text-light);
    line-height: 1.15;
    font-size: 22px;
}
.course__item__content h3 a:hover{
    color: black;
}
.course__item__content-des{
    margin-top: 12px;
    font-size: 18px;
}
.course__item__img{
    position: relative;
    overflow: hidden;
    border: 1px solid #eee;
    border-bottom: none;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.course__img{
    height: auto; 
    width: 100%; 
    display: block;
    
}
.course__img:hover{
    transform: scale3D(1.1, 1.1, 1);
    opacity: 0.8;
}
.course__item__content-group{
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 28px 0 18px 0;
    color: var(--text-light);
}
.auth__course{
    display: flex;
    align-items: center;
    color: inherit;
    text-decoration: none;
}
.auth__course:hover{
    color: black;
}
.course__item__content-avt{
    width: 32px;
    height: 32px;
    border-radius: 50%;
    margin-right: 4px;
}
.course__item__content-members{
    /* margin-right: 10px; */
}
.course__item__content-members,
.course__item__content-name{
    letter-spacing: -0.5px;
}
.course__item__content-btn a:hover{
    display: inline-block;
    transition: all .4s ease-in-out;
    transform: translateY(-5px);    
}
.course__item__content-btn a{
    font-size: 14px;
    text-decoration: none;
    color: var(--text-white);
    background-color: var(--text-red);
    padding: 6px 6px;
    border-radius: 30px;
    
}

/* FOOTER */
footer{
    background: #151515;
    color: var(--text-footer);
    padding: 80px 0 110px 0;
    font-size: 16px;
}
.footer{
    display: flex;
}
.footer__col-logo img{
    width: 200px;
    height: 62px;
}
.footer__col-desc{
    margin: 14px 0;
    line-height: 1.4;
}
.footer__col-copyright{
    margin-top: 28px;
}
.footer__col__title{
    margin: 8px 0 45px 0;
    text-transform: uppercase;
    font-weight: 500;
    color: var(--text-white);
}
.footer__col__item{
    list-style-type: none;
    padding-left: 0;
    margin: 10px 0;
}
.footer__col__item a{
    text-decoration: none;
    color: var(--text-footer);
}
.footer__col__item a:hover{
    color: var(--color-footer);
}
.footer__col__form{
    display: flex;
    flex-direction: column;
}
.form__footer-submit .btn,
.footer__col__form input{
    border-radius: 20px;
    border: none;
    outline: none;
    height: 40px;
}
.footer__col__form input{
    background: #272727;
    font-size: 16px;
    width: 100%;
    padding: 0 20px;
    color: rgba(255,255,255,.6);
    margin: 25px 0 10px 0;
}
.form__footer-submit .btn{
    width: 120px;
    color: var(--text-white);
    background: var(--color-footer);
}
.form__footer-submit .btn:hover{
    cursor: pointer;
    background: #ccc;
    color: var(--color-footer);
}
.background{
    background-image: url('../img/header/home-img.jpg');
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 100vh;
}